<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.demo.mapper.BookMapper">
    <insert id="insertBook" parameterType="com.mybatis.demo.model.Book">
        insert into book(`id`, `title`, `desc`, `author`, `novel_type`, `tags`)
        values (#{id}, #{title}, #{desc}, #{author}, #{novelType}, #{tags})
    </insert>

    <delete id="deleteBookById" parameterType="java.lang.Integer">
        delete from book where id=#{id}
    </delete>
</mapper>