<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 通过bean将实体类配置给Spring进行管理,id表示实体类的唯一表示，class为该id代理的类 -->
    <bean id="student" class="com.test.spring.Bean.Student">
        <property name="stuNum" value="12"/>
        <property name="stuName" value="lisa"/>
        <property name="stuAge" value="17"/>
        <property name="enterDate" ref="date"/>
    </bean>

    <bean id="date" class="java.util.Date"/>
</beans>
