<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN"  monitorInterval="30">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>
    </appenders>

    <loggers>
        <logger name="springfox" level="error" />
        <logger name="org.quartz" level="warn" />
        <logger name="org.apache.zookeeper" level="warn" />
        <logger name="org.springframework.web" level="info" />
        <Root level="info">
            <appender-ref ref="Console"/>
        </Root >
    </loggers>
</configuration>
